* {
    padding: 0%;
    border: 0dvh;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: #f7cfd8;
    color:#2ce2e2;
    opacity: 0;
    animation: animation 4s ease-in-out 0.5s forwards;
    height: 1000px;
}

@keyframes animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.navbar {
    height: 50px;
    width: 100%;
    background-color: #f4f8d3;
    color: #73c7c7;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: -7px;
    transition: border ease 0.2;

}

.navbar:hover {
    border: 5px solid #f4f8d3 ;
}

.nav_hover:hover {
    border: 3px solid #A6f1e0;
    margin: 50px;
    padding: 7px 7px 7px 7px;
}

.nav_hover {
    transition: all ease-in 0.1s;
    cursor: pointer;
}

.portfolio {
    transition: all ease-in 0.1s;
    margin: 180px;
    cursor: pointer;
}

.portfolio:hover {
    border: 5px solid #A6f1e0;
    margin: 230px;
    padding: 4px 4px 4px 4px;
}

header {
    margin-top: 160px;
    margin-left: 30px;
}

.name_heading {
    text-shadow: 3px 3px 3px #f4f8d3;
}

.my_img {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    margin-left: 55%;
    margin-top: -239px;
    animation: my_img-animation 4s ease-in-out 0s infinite forwards;
}

@keyframes my_img-animation {
    0% {
        border-left: 8px solid #f4f8d3;
        border-top: 8px;
        border-right: 8px solid #f4f8d3;
        border-bottom: 8px;
    }

    25% {
        border-left: 8px;
        border-top: 8px solid #f4f8d3;
        border-right: 8px;
        border-bottom: 8px solid #f4f8d3;
    }

    50% {
        border-left: 8px solid #f4f8d3;
        border-top: 8px;
        border-right: 8px solid #f4f8d3;
        border-bottom: 8px;
    }

    100% {
        border-left: 8px;
        border-top: 8px solid #f4f8d3;
        border-right: 8px;
        border-bottom: 8px solid #f4f8d3;
    }
}

#ig {
    margin-right: 20px;
    margin-left: 30px;
    border: 2px solid #73c7c7;
    border-radius: 50%;
    padding: 7px 7px 7px 7px;
}

#li {
    margin-right: 20px;
    border: 2px solid #73c7c7;
    border-radius: 50%;
    padding: 7px 7px 7px 7px;
}

#gmail {
    border: 2px solid #73c7c7;
    border-radius: 50%;
    padding: 7px 7px 7px 7px;
}

#ig:hover {
    background-color:#f4f8d3;
    color: #73c7c7;
    padding: 10px 10px 10px 10px;
    cursor: pointe;
}

#li:hover {
    background-color: #f4f8d3;
    color:  #73c7c7;
    padding: 10px 10px 10px 10px;
    cursor: pointe;
}

#gmail:hover {
    background-color: #f4f8d3;
    color:  #73c7c7;
    padding: 10px 10px 10px 10px;
    cursor: pointe;
}

#github {
    border: 2px solid #a6f1e0;
    border-radius: 50%;
    padding: 7px 7px 7px 7px;
    margin-left: 20px;
}

#github:hover {
    background-color:#f4f8d3;
    color: #73c7c7;
    padding: 10px 10px 10px 10px;
    cursor: pointe;
}

h3 {
    opacity: 0;
    animation: word-animation 10s ease-out 0s infinite forwards;
}

@keyframes word-animation {
    0% {
        pacity: 0;
        transform: translate(0px);
        transform: scale(0);

    }

    100% {
        opacity: 1;
        transform: translate(10px);
        transform: scale(1);
    }
}


#more_about_me {
    margin-left: 60px;
    height: 30px;
    border: 3px solid #f4f8d3;
    border-radius: 20%;
    background-color:   #73c7c7;
    color: #a6f1e0;
}

#more_about_me:hover {
    background-color:  #f7cfd8;
    border: 4px solid  #a6f1e0;
    color:  #73c7c7;
    padding: 6px 6px 6px 6px;
}

main {
    margin-top: 300px;
}

#my-img {
    margin-left: 30px;
}

.about_me-heading {
    margin-left: 55%;
    color: #f4f8d3;
    font-style: italic;
    text-shadow: 3px 3px 3px #A6f1e0;
}

.para {
    margin-left: 40%;
    color: azure;
     margin-right: 10%;
     font-size: 1.23rem;
}

.skill_section {
   margin-top: 30%;
   margin-bottom: 50%;
}

.skill_section_heading{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.skills{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #f4f8d3;
    color: #A6f1e0;
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; */
    align-self: center;
}

hr{
    width: 100%;
    background-color: #f4f8d3;
    height: 3px;
}


.project_section {
    margin-top: 55%;
}

footer {
    margin-top: 90%;
}

aside {
    margin-top: -89px;
    margin-left: 10%;
    margin-right: 61%;
    font-size: larger;
}

form {
    margin-left: 60%;
    margin-bottom: 120px;
}

.form_section {
    height: 30px;
    width: 80%;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color:#A6f1e0;
    color: #f4f8d3;
    border: 2px solid #f4f8d3;
    box-shadow: inset 6px 6px 6px #f4f8d3;
}

#submit-button {
    box-shadow: 0px 0px 3px 3px #f4f8d3;
    margin-left: 30%;
    margin-top: 6px;
    height: 25px;
    width: 20%;
    background: #73c7c7;
    color: #f4f8d3;
}

.contect_heading {
    margin-left: 20%;
}

.footer_section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #f4f8d3;
    height: 80px;
}

.last {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#73c7c7;
    height: 50px;
}

.up-button {
    margin-left: 94%;
    position: sticky;
    top: 500px;
    height: 35px;
    width: 30px;
    border: 2px solid #f4f8d3;
    border-radius: 20%;
    cursor: pointer;
    background: #A6f1e0;
}



/* @media (max-width: 700px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items:center;
   }

   .navbar{
    display: flex;
    flex-direction: row;
   }
} */